<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>ViewPort</title>
	<meta name="generator" content="LibreOffice 6.0.6.2 (Linux)"/>
	<meta name="created" content="00:00:00"/>
	<meta name="changed" content="2018-11-06T16:54:43.755868348"/>
	<meta name="" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<style type="text/css">
		td p { margin-bottom: 0.26cm; color: #333333; font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; font-size: 10pt; line-height: 142% }
		h1 { margin-top: 0.53cm; margin-bottom: 0.26cm; color: #333333; font-family: "inherit"; font-size: 27pt; line-height: 110% }
		p { margin-bottom: 0.26cm; color: #333333; font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif; font-size: 10pt; line-height: 142% }
		h2 { margin-top: 0.53cm; margin-bottom: 0.26cm; color: #333333; font-family: "inherit"; font-size: 22pt; line-height: 110% }
		h3 { margin-top: 0.53cm; margin-bottom: 0.26cm; color: #333333; font-family: "inherit"; font-size: 18pt; line-height: 110% }
		a:link { color: #337ab7; background: transparent; text-decoration: none }
		a:visited { color: #337ab7; background: transparent; text-decoration: none }
	</style>
</head>
<body lang="en-CA" text="#333333" link="#337ab7" vlink="#337ab7" bgcolor="#ffffff" dir="ltr">
<p>Page 1 Page 2 Page 3 Page 4
</p>
<div id="Home" dir="ltr" style="background: #ff0000">
	<table width="100%" cellpadding="2" cellspacing="0">
		<col width="179*">
		<col width="77*">
		<tr>
			<td width="70%" style="border: none; padding: 0cm">
				<h2>How to use docker-compose in Ubuntu?</h2>
			</td>
			<td width="30%" style="border: none; padding: 0cm">
				<h1>Screen Output</h1>
			</td>
		</tr>
		<tr>
			<td bgcolor="#000000" style="background: #000000" width="70%" style="border: none; padding: 0cm">
				<h3>Step 1: Install docker-compose.</h3>
				<p>$ docker-compose -v</p>
				<p align="left">1. https://github.com/docker/compose/rel...</p>
				<p>or</p>
				<p>2. Using PIP pip install -U docker-compose</p>
				<p><br/>
<br/>

				</p>
				<h3>Step 2: Create docker compose file at any location on you
				system.</h3>
				<p>$ mkdir DockerComposeFile</p>
				<p>$ cd DockerComposeFile</p>
				<p>$ touch docker-compose.yml</p>
				<p>$ ls</p>
				<p>docker-compose.yml .</p>
				<p><br/>
<br/>

				</p>
				<h3>Step 3: Step 3: Check the validity of file by command.</h3>
				<p>$ docker-compose config,</p>
				<p>ERROR: yaml.scanner.ScannerError: while scanning for the next
				token
				</p>
				<p>found character '\t' that cannot start any token
				</p>
				<p>in &quot;./docker-compose.yml&quot;, line 3, column 1
				</p>
				<p>grasshopper@HP-Laptop:~/docker-composer$
				</p>
				<p>MUST WRITE AS INDICATED ABOVE
				</p>
				<p>grasshopper@HP-Laptop:~/docker-composer$docker-compose config
				</p>
				<p>services:
				</p>
				<p>database:
				</p>
				<p>image: redis
				</p>
				<p>web:
				</p>
				<p>image: nginx
				</p>
				<p>version: '3.0'
				</p>
				<p>grasshopper@HP-Laptop:~/docker-composer$
				</p>
			</td>
			<td width="30%" bgcolor="#000000" style="background: #000000" style="border: none; padding: 0cm">
				<p>$ mkdir DockerComposeFile</p>
				<p>$ cd DockerComposeFile</p>
			</td>
		</tr>
	</table>
</div>
<div id="News" dir="ltr" style="background: #008000">
	<h3><span style="display: inline-block; border: none; padding: 0cm"><font color="#ffffff">Page
	2</span></font></h3>
	<p><span style="display: inline-block; border: none; padding: 0cm"><font color="#ffffff">Some
	news this fine day!</span></font></p>
</div>
<div id="Contact" dir="ltr" style="background: #0000ff">
	<h3><span style="display: inline-block; border: none; padding: 0cm"><font color="#ffffff">Page
	3</span></font></h3>
	<p><span style="display: inline-block; border: none; padding: 0cm"><font color="#ffffff">Get
	in touch, or swing by for a cup of coffee.</span></font></p>
</div>
<div id="About" dir="ltr" style="background: #ffa500">
	<h3><span style="display: inline-block; border: none; padding: 0cm"><font color="#ffffff">Page
	4</span></font></h3>
	<p><span style="display: inline-block; border: none; padding: 0cm"><font color="#ffffff">Who
	we are and what we do.</span></font></p>
</div>
<p><script>
    function openPage(pageName,elmnt,color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(pageName).style.display = "block";
    elmnt.style.backgroundColor = color;

}
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

</script><br/>
<br/>

</p>
</body>
</html>
